.users {
    &__search {
        padding: 10px 24px;
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: orange;
        background-color: inherit;
        color: #fff;
        width: 100%;
        line-height: 20px;
        font-size: 16px;
        letter-spacing: 1.2px;
        outline: none;

        &::placeholder {
            font-size: 14px;
            color: rgba(255, 166, 0, 0.363);
            text-transform: lowercase;
            line-height: 20px;
            text-align: center;
        }
    }

    &__list {
        margin-top: 24px;
        list-style: none;

        &-item {
            padding: 8px 16px;
            border-radius: 16px;
            border: 1px solid #666;
            text-align: center;
            letter-spacing: 1.2px;
            text-transform: capitalize;
            color: #fff;

            &:not(:last-child) {
                margin-bottom: 24px;
            }

            .user-body {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 80px 1fr 40px;
                align-items: center;

                &__fullname {
                    font-size: 18px;
                    padding: 12px 24px;
                }

                &__email {
                    display: inline-block;
                    margin-top: 12px;
                    font-size: 14px;
                    color: orange;
                    text-decoration: none;
                }

                &__avatar,
                &__btn {
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    border: none;
                    overflow: hidden;
                    text-align: center;
                }

                &__btn {
                    color: orange;
                    font-size: 24px;
                    background-color: #fff;
                    box-shadow: 0 0 16px orange;
                    cursor: pointer;
                }

                &__avatar {
                    &-img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }


}